[submodule "submodules/accelerated-model-architectures"]
	path = submodules/accelerated-model-architectures
	url = https://github.com/Learning-Machine-Inc/accelerated-model-architectures.git
	branch = lm-main
