name: Style Check

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  style-check:
    name: Style Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.12

      - name: Installation
        run: |
          git submodule update --init --recursive
          curl -LsSf https://astral.sh/uv/install.sh | sh
          uv run pip install isort black pre-commit

      - name: Formatting Tests
        run: |
          uv run pre-commit install
          make style
